.place__title{
    max-width: 460px;
    min-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
} 
@media screen and (max-width: 768px) {
    .place__title{
        max-width: 340px;
        min-height: 92px;
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width: 425px) {
    .place__title{
        max-width: 288px;
        min-height: 35px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}