.intro{
    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 92px 0 0 148px;
}
@media screen and (max-width: 1024px) {
    .intro{
        margin: 88px auto 88px 48px;
    }
} 
@media screen and (max-width: 768px) {
    .intro{
        max-width: 720px;
        margin: 88px auto 24px;
    }
}
@media screen and (max-width: 710px) {
    .intro{
        max-width: 425px;
        margin: 64px auto 16px;
    }
}
@media screen and (max-width: 425px) {
    .intro{
        max-width: 288px;
    }
}