.cover__overlay{
    display: block;
    padding: 245px 312px 343px;
    text-decoration: none;
    background: rgba(42, 44, 47, 0.3);
    position: relative;
}
.cover__overlay:hover{
    background: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 1024px) {
    .cover__overlay{
        max-width: 1024px;
        padding: 195px 232px 293px;
    }
} 
@media screen and (max-width: 768px) {
    .cover__overlay{
        max-width: 768px;
        padding: 115px 104px 213px;
    }
}
@media screen and (max-width: 425px) {
    .cover__overlay{
        max-width: 320px;
        padding: 33px 16px 97px;
    }
}