.cover__overlay{
    display: block;
    padding: 245px 312px 245px;
    text-decoration: none;
    background: rgba(42, 44, 47, 0.3);
}
.cover__overlay:hover{
    background: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 1024px) {
    .cover__overlay{
        max-width: 1024px;
        padding: 195px 232px 195px;
    }
} 
@media screen and (max-width: 823px) {
    .cover__overlay{
        max-width: 768px;
        padding: 115px 104px 115px;
    }
}
@media screen and (max-width: 768px) {
    .cover__overlay{
        max-width: 768px;
        padding: 115px 104px 115px;
    }
}
@media screen and (max-width: 569px) {
    .cover__overlay{
        max-width: 569px;
        padding: 115px 16px 115px;
    }
}
@media screen and (max-width: 425px) {
    .cover__overlay{
        max-width: 320px;
        padding: 33px 16px 33px;
    }
}