.place{
    max-width: 984px;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 48px 40px;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
} 
@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        margin: 0 0 73px 0;
        gap: 48px 28px;
    }
}
@media screen and (max-width: 710px) {
    .place{
        max-width: 320px;
        margin: 0 auto 50px;
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}