.place__website{
    max-width: 456px;
    min-height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0px;
}

@media screen and (max-width: 1024px) {
} 
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 425px) {
    .place__website{
        margin-left: 16px;
    }
}